body{
	background-color: rgba(96, 197, 255, 0.5);
	background-image: url("joy.png");
	background-size:100px;
}

h1{
	text-align: center;
	font-family: 'Bungee';font-size:45px;
}

#header{
	background: rgba(300, 300, 300, 0.7);
	border-radius: 25px;
	width: 215px;
	margin: 0 auto;
}

#twemoji{
	width: 80%;
	margin: 0 auto;
}

#output{
	width: 80%;
	background: rgba(300, 300, 300, 0.8);
	margin: 0 auto;
	font-size: 20px;
	font-family: Delius;
}

#enter{
	font-size:25px;
	font-family: 'Bungee';font-size:18px;
	border: 2px solid black;
	padding: 10px 10px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	background-color: yellow;
	color: black;
	border-radius:12px;
}

button:focus {outline:0;}

#enterButton{
	margin: 20px auto;
	text-align:center;
}